{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Professores</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/profstyle.css' %}"/>
</head>
	<body>
		{% if user.is_authenticated %}
			<div align="center"><h1>Painel de controle professor</h1></div>
			Bem vindo professor(a): {{ user.username }}
			<br />
			<a href="/logoff/">Desconectar</a>
			<br />
			<br />
			<table style="width:100%">
				<thead>
					<tr>
					    <th>Nome</th>
					    <th>Turno</th>
					    <th>Serie</th>
					    <th>Nota</th>  
					    <th>Falta</th>   
					</tr>
				</thead>
				
				{% for lista in lista %}
					<tr>
						<td><div align="center">{{ lista.aluno }}</div></td>
						<td><div align="center">{{ lista.turno }}</div></td>
						<td><div align="center">{{ lista.serie }}</div></td>
						<td><div align="center">{{ lista.nota }}</div></td>
						<td><div align="center">{{ lista.falta }}</div></td>
				  	</tr>
				{% endfor %}

			</table>
			<br />
			<br />
				Total de alunos: {{ contar }}
			<br />
			<br />
		{% endif %}		
	</body>
</html>
