{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Professores</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/profstyle.css' %}"/>
	<style type="text/css">
	  #popup{
	  position: fixed;
	  top: 50%;
	  left: 50%;
	  margin: -75px 0 0 -150px;
	  width: 300px;
	  height: 150px;
	  padding: 20px;
	  border: solid 1px #331;
	  background: #FFFFFF;
	  display: none;
	  }
  </style>

  <script type="text/javascript">

	   function fechar(){
	     document.getElementById('popup').style.display = 'none';
	   }

	   function abrir(){
	     document.getElementById('popup').style.display = 'block';
	   }

  </script>
</head>
	<body>
		{% if user.is_authenticated %}
			<div align="center"><h1>Painel de controle professor</h1></div>
			Bem vindo professor(a): {{ user.username }}
			<br />
			<a href="/logoff/">Desconectar</a>
			<br />
			<br />
			<br />
			<div align="center">
				<form name="Menu" action="." method="get">
					<!-- <select id="materia_select" name="pages" size="1" onChange="vai(this);"> -->
					<!-- <select id="materia_select">
						{{ object.materia }}
					</select> -->
					<select id="materia_select">
						{% for m in materia %}
						    <option value="{{ m.id }}" {% if m.selected %} selected="selected"{% endif %}>{{ m.materia }}</option>
						{% endfor %}
					</select>
					<input id="turno_search_box" type="text" value="vespertino" placeholder="Procurar por turno..."></input>
					<button type="submit" >OK</button>
				</form>
			</div>
			<br />
			<table style="width:100%">
				<thead>
					<tr>
					    <th>Nome</th>
					    <th>Turno</th>
					    <th>Serie</th>
					    <th>Nota</th>  
					    <th>Falta</th>
					    <th>Materia</th>
					</tr>
				</thead>

				{{ studentsfilter }}
				
				{% for student in students %}
					<tr>
						<td><div align="center">{{ student.aluno }}</div></td>
						<td><div align="center">{{ student.turno }}</div></td>
						<td><div align="center">{{ student.serie }}</div></td>
						<td><div align="center">{{ student.nota }}</div></td>
						<td><div align="center">{{ student.falta }}</div></td>
						<td><div align="center">{{ student.materia }}</div></td>
				  	</tr>
				{% endfor %}


			</table>
			<br />
			<br />
			<!-- <select id="materia_select">
			<option>"materia_select"</option>
			</select> -->
			<br />
			<br />
			<div align="center">
				<p><a href="javascript: abrir();">Adicionar Aluno</a>
			</div>
			<br />
			<br />
			<div id="popup"> 
				<form method="POST">
		    	</form>
				<p><small class="fechar"><a href="javascript: fechar();">Cancelar</a></small></p>
				<input class="submitform" type="submit" name="submitform" value="Cadastrar" />
			</div>
			<br />
			<br />
		{% endif %}		
	</body>
</html>
